@media screen {
  /* line 2, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  /* line 8, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron .flexslider {
    margin: 0;
  }
  /* line 13, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li {
    position: relative;
    max-height: 620px;
  }
  /* line 17, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-wrapper {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
  }
  /* line 25, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content {
    max-width: 1170px;
    padding: 10px;
    margin: 0 auto;
  }
  /* line 30, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content h2 {
    font-size: 2em;
    text-align: center;
  }
  /* line 35, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content .short-description {
    font-size: 1em;
    text-align: center;
    display: none;
  }
  /* line 41, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content h2, .cc-cmb-jumbotron ul.slides li .overlay-content .short-description {
    color: #FFFFFF;
  }
  /* line 45, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content .button-wrapper {
    text-align: center;
  }
  /* line 47, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content .button-wrapper button {
    padding: 1em;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    margin: 2em 0;
    font-weight: bold;
  }
  /* line 62, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron .flexslider .flex-direction-nav a {
    padding: 2px 8px;
    right: 0px;
  }
  /* line 66, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron .flexslider .flex-direction-nav a.flex-prev {
    left: 0px;
    opacity: 1 !important;
  }
  /* line 70, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron .flexslider .flex-direction-nav a.flex-next {
    right: 0px;
    opacity: 1 !important;
  }
}
@media screen and (min-width: 767px) {
  /* line 83, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content h2 {
    font-size: 4em;
    padding: 1em 0 .5em 0;
    text-align: left;
  }
  /* line 88, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content .short-description {
    font-size: 1.5em;
    text-align: left;
    display: block;
  }
  /* line 93, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content .button-wrapper {
    text-align: inherit;
  }
  /* line 95, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron ul.slides li .overlay-content .button-wrapper button {
    margin: 3em 0;
  }
}
/* line 106, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display ul.slides li {
  height: auto;
  max-height: inherit;
}
/* line 110, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display ul.slides li img {
  width: auto;
}
@media screen and (min-width: 767px) {
  /* line 106, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron.cc-jumbotron-featured-items-display ul.slides li {
    max-height: 600px;
  }
  /* line 116, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron.cc-jumbotron-featured-items-display ul.slides li img {
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  /* line 121, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__overlay-left {
    position: absolute;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    max-width: 700px;
  }
}
/* line 132, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__overlay-right {
  padding: 1em 0;
  background: #FFF;
}
@media screen and (min-width: 767px) {
  /* line 132, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__overlay-right {
    padding: 0;
    float: right;
    max-width: 400px;
    max-height: 500px;
    margin: -0.5em 0 0.5em 0;
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 132, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__overlay-right {
    width: 400px;
    margin: 3.5em 0;
  }
}
/* line 147, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__overlay-right h2 {
  padding: 1em 0;
  margin: 0;
}
/* line 153, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display ul.jumbotron-featured__items {
  margin: 0;
  padding: 0 2em;
}
/* line 156, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display ul.jumbotron-featured__items li {
  list-style-type: none;
}
/* line 161, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__items-title {
  font-size: 2em !important;
  color: #000 !important;
  text-align: center !important;
  padding: 1em 0 0.5em 0 !important;
}
/* line 168, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__title {
  margin: 0;
  padding: 1em 0;
}
/* line 173, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__button {
  margin: 3em 0;
  width: 200px;
}
/* line 176, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__button a {
  background: #F2E632;
  padding: 1.5em;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
/* line 190, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__items-button {
  margin: 1em;
}
@media screen and (min-width: 1200px) {
  /* line 190, ../scss/cmb_jumbotron.scss */
  .cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__items-button {
    margin: 2em;
  }
}
/* line 197, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__items-button a {
  background: #F2E632;
  padding: 2em;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
/* line 211, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__item-icon {
  float: left;
}
/* line 213, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__item-icon i {
  font-size: 30px;
  color: darkgray;
}
/* line 219, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__item-title {
  font-size: 1em;
  margin: 0;
  padding: 0em;
}
/* line 225, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__item-description {
  font-size: 14px;
  padding-left: 30px;
}
/* line 230, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__items {
  padding: 0 2em;
}
/* line 232, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__items li {
  padding: 0.5em 0;
  position: relative;
}
/* line 238, ../scss/cmb_jumbotron.scss */
.cc-cmb-jumbotron.cc-jumbotron-featured-items-display .jumbotron-featured__item-right {
  padding-left: 4em;
}
