@media screen {
  .cc--image.full-width-ee {
    max-width:100% !important;
    width:100% !important;
    padding:0 !important;
    .col-md-12 {
      max-width:100% !important;
      width:100% !important;
      padding:0 !important;
    }
  }
}
