@media screen {
  /* line 3, ../scss/cc_content_list.scss */
  .cc--cl {
    /*.clean-ul-list.row {
      margin-bottom:1em;
    }
    */
  }
  /* line 4, ../scss/cc_content_list.scss */
  .cc--cl .col-sm-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* line 8, ../scss/cc_content_list.scss */
  .cc--cl h2 {
    text-transform: uppercase;
  }
  /* line 11, ../scss/cc_content_list.scss */
  .cc--cl .col-md-12 {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
  }
  /* line 16, ../scss/cc_content_list.scss */
  .cc--cl .clean-ul-list {
    list-style-type: none;
    padding: 0;
  }
  /* line 25, ../scss/cc_content_list.scss */
  .cc--cl ul.cl-items li {
    margin-bottom: 1em;
  }

  /* line 34, ../scss/cc_content_list.scss */
  .cc-cl--title-display-overlay .overlay-wrapper a,
  .cc-cl--title-display-overlay .overlay-wrapper .no-link {
    display: block;
    min-height: 216px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  /* line 45, ../scss/cc_content_list.scss */
  .cc-cl--title-display-overlay .overlay-wrapper .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    visibility: hidden;
  }
  /* line 66, ../scss/cc_content_list.scss */
  .cc-cl--title-display-overlay .overlay-wrapper .overlay h3,
  .cc-cl--title-display-overlay .overlay-wrapper .overlay span  {
    padding: 0.5em 0;
  }
  /* line 70, ../scss/cc_content_list.scss */
  .cc-cl--title-display-overlay .overlay-wrapper a:hover .overlay,
  .cc-cl--title-display-overlay .overlay-wrapper .no-link:hover .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  /* line 74, ../scss/cc_content_list.scss */
  .cc-cl--title-display-overlay .overlay-wrapper p {
    padding: 1em 0;
  }
}
