
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-calendar-1:before { content: '\e801'; } /* '' */
.icon-calendar-outlilne:before { content: '\e802'; } /* '' */
.icon-calendar-2:before { content: '\e803'; } /* '' */
.icon-calendar-4:before { content: '\e804'; } /* '' */
.icon-calendar-5:before { content: '\e805'; } /* '' */
.icon-calendar-6:before { content: '\e806'; } /* '' */
.icon-calendar-circled:before { content: '\e807'; } /* '' */
.icon-calendar-alt:before { content: '\e808'; } /* '' */
.icon-calendar-7:before { content: '\e809'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-calendar-3:before { content: '\f4c5'; } /* '' */