@media screen {
  // General
  .cc--cl {
    .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
    h2 {
      text-transform: uppercase;
    }
    .col-md-12 {
      border-bottom: 1px solid gainsboro;
      margin-bottom: 1.5em;
      padding-bottom: 1em;
    }
    .clean-ul-list {
      list-style-type: none;
      padding:0;
    }
    /*.clean-ul-list.row {
      margin-bottom:1em;
    }
    */
    ul.cl-items {
      li {
        margin-bottom:1em;
      }
    }
  }

  // Overlay mode
  .cc-cl--title-display-overlay {
    .overlay-wrapper {
      a,
      .no-link {
        display: block;
        min-height:216px;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      .overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 0 20px;
        background-size: cover;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        visibility: hidden;
        h3, span {
          padding: 0.5em 0;
        }
      }
      a:hover .overlay,
      .no-link:hover .overlay {
        background: rgba(0, 0, 0, 0.5);
      }
      p {
        padding: 1em 0;
      }
    }
  }
}
