@media screen {
  /* line 3, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu {
    margin-top: 25px;
    z-index: 1;
    position: relative;
  }
  /* line 6, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu .nav > li > a:hover, #cmb-dropdown-menu .nav > li > a:focus {
    background-color: transparent;
  }
  /* line 11, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
  }
  /* line 16, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul a {
    display: block;
    color: #333;
    text-decoration: none;
    line-height: 32px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
  }
  /* line 28, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li > a {
    padding: .5em 2.3em;
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  /* line 33, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li.expanded > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "fontello";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\e833";
    margin-left: 5px;
    opacity: .75;
  }
  /* line 46, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /*-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    */
  }
  /* line 57, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* line 61, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li:hover ul li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  /* line 66, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li:hover ul li a {
    text-align: left;
    text-transform: capitalize;
  }
  /* line 71, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li:hover ul li.last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  /* line 82, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul {
    z-index: 1;
    display: none;
    top: 100%;
    right: 0;
    padding: 0;
    width: 100%;
  }
  /* line 90, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul li {
    float: none;
    width: 100%;
  }
  /* line 94, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
    font-size: 1em;
  }
  /* line 99, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul ul {
    top: 0;
    display: none;
    padding-left: 20px;
  }
  /* line 109, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li:hover > ul {
    display: block;
  }
}
@media screen and (min-width: 767px) {
  /* line 121, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul {
    float: right;
  }
  /* line 126, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul li {
    width: auto;
    position: relative;
    display: inline-block;
    float: left;
    margin: 0;
  }
  /* line 135, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul {
    position: absolute;
  }
  /* line 138, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul li a {
    padding: 10px 15px;
  }
  /* line 143, ../scss/cmb_dropdown_menu.scss */
  #cmb-dropdown-menu ul ul ul {
    right: 100%;
  }
}
