<img src="../../images/philly-cam-logo.jpg"/>

<div id="block-cm-bootstrap-dropdown-menu-cmb-dropdown-menu" class="col-md-6 col-sm-7 block block-cmb-dropdown-menu">
  <section id="cmb-dropdown-menu">
    <ul class="menu nav">
      <li class="first expanded watch">
        <a href="/">
          <span class="cmb-dropdown-menu__text">
          Watch
          </span>
          <span class="cmb-dropdown-menu__icon">
            <i class="icon icon-down-open-big"></i>
          </span>
        </a>
        <ul class="menu nav">
          <li class="first leaf">
            <a href="/schedules/day">TV Schedule</a>
          </li>
          <li class="leaf">
            <a href="/channel-8-stream">Watch Channel 8</a>
          </li>
          <li class="leaf">
            <a href="/channel-10-stream">Watch Channel 10</a>
          </li>
          <li class="leaf">
            <a href="/video-library">Video Library</a>
          </li>
          <li class="expanded">
            <a href="/meetings">Municipal Meetings</a>
            <ul class="menu nav">
              <li class="first leaf">
                <a href="/brattleboro-development-review-board">Brattleboro DRB</a>
              </li>
              <li class="leaf">
                <a href="/brattleboro-housing-partnerships">Brattleboro Housing Partnerships</a>
              </li>
              <li class="leaf">
                <a href="/brattleboro-planning-commission">Brattleboro Planning Commission</a>
              </li>
              <li class="leaf">
                <a href="/brattleboro-selectboard">Brattleboro Selectboard</a>
              </li>
              <li class="leaf">
                <a href="/dummerston-selectboard">Dummerston Selectboard</a>
              </li>
              <li class="leaf">
                <a href="/guilford-selectboard">Guilford Selectboard</a>
              </li>
              <li class="leaf">
                <a href="/jamaica-selectboard">Jamaica Selectboard</a>
              </li>
              <li class="leaf">
                <a href="/newfane-selectboard">Newfane Selectboard</a>
              </li>
              <li class="leaf">
                <a href="/putney-selectboard">Putney Selectboard</a>
              </li>
              <li class="leaf">
                <a href="/townshend-selectboard">Townshend Selectboard</a>
              </li>
              <li class="last leaf">
                <a href="/vernon-selectboard">Vernon Selectboard</a>
              </li>
            </ul>
          </li>
          <li class="last expanded">
            <a href="/school-board-meetings">School Board Meetings</a>
            <ul class="menu nav">
              <li class="first expanded">
                <a href="/act-46-study-committees">Act 46 Committees</a>
                <ul class="menu nav">
                  <li class="first leaf">
                    <a href="/leland-and-gray-towns-act-46-study-committee">Leland and Gray Towns Act 46 Study Committee</a>
                  </li>
                  <li class="last leaf">
                    <a href="/windham-central-elementary-act-46-study-committee">Windham Central Elementary Act 46 Study Committee</a>
                  </li>
                </ul>
              </li>
              <li class="leaf">
                <a href="/brattleboro-town-school-board">Brattleboro Town School Board</a>
              </li>
              <li class="leaf">
                <a href="/buhs-school-board">BUHS Board</a>
              </li>
              <li class="leaf">
                <a href="/dummerston-school-board">Dummerston School Board</a>
              </li>
              <li class="leaf">
                <a href="/leland-and-gray-school-board">Leland and Gray School Board</a>
              </li>
              <li class="leaf">
                <a href="/vernon-school-board">Vernon School Board</a>
              </li>
              <li class="leaf">
                <a href="/west-river-union-school-board">West River Union School Board</a>
              </li>
              <li class="leaf">
                <a href="/windham-central-supervisory-union">Windham Central Supervisory Union</a>
              </li>
              <li class="last leaf">
                <a href="/windham-southeast-supervisory-union">Windham Southeast Supervisory Union</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="expanded create">
        <a href="/training" title="">Create
          <span class="cmb-dropdown-menu__icon">
            <i class="icon icon-down-open-big"></i>
          </span>
        </a>
        <ul class="menu nav">
          <li class="first leaf">
            <a href="/training">Become a Producer</a>
          </li>
          <li class="leaf">
            <a href="/group-workshops">Sign Up for Training</a>
          </li>
          <li class="leaf">
            <a href="/submit-video">Submit Videos</a>
          </li>
          <li class="leaf">
            <a href="/equipment">Gear and Facilities</a>
          </li>
          <li class="last leaf">
            <a href="/internships">Internships</a>
          </li>
        </ul>
      </li>
      <li class="last expanded learn">
        <a href="/">Learn
          <span class="cmb-dropdown-menu__icon">
            <i class="icon icon-down-open-big"></i>
          </span>
        </a>
        <ul class="menu nav">
          <li class="first last leaf">
            <a href="/">Learn This</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
