<header class="header">
  <div class="header__logo">
    <div class="header__logo-image"></div>
    <div class="header__logo-text">
      CM Bootstrap
    </div>
  </div>
  <div id="header__menu">
    <div class="header__menu-text">
      Menu
    </div>
    <div class="header__menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<div id="header__menu-overlay"></div>
