@media screen {
  /* line 3, ../scss/cmb_cc_block_reference.scss */
  .cc-cmb-block-reference.full-width, .cc-cmb-block-reference.full-width section {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  /* line 11, ../scss/cmb_cc_block_reference.scss */
  .cc-cmb-block-reference.fixed-width {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  /* line 17, ../scss/cmb_cc_block_reference.scss */
  .cc-cmb-block-reference.fixed-width section {
    padding: 1em 0;
    max-width: 1170px;
    margin: 0 auto;
  }
}
